---
- name: Update all packages
  ansible.builtin.dnf:
    name: "*"
    state: latest

- name: Install openssh-server
  ansible.builtin.dnf:
    name: 'openssh-server'
    state: latest

- name: Enable sshd service
  ansible.builtin.systemd:
    name: sshd
    state: started
    enabled: true
