---
- name: Update Bind9 DNS zone records
  hosts: dns_servers
  become: true
  gather_facts: false
  vars_files:
    - vault.yml
  vars:
    named_conf_template: "named.conf.j2"
    named_conf_dest: "/etc/named.conf"
    dns_zone_template: "named.milliways.fi.j2"
    dns_zone_config_dest: "/var/named/named.milliways.fi"
    reverse_zone_template: "reverse.zone.j2"
    dns_serial_date: "{{ lookup('pipe', 'date +%Y%m%d') }}"
  tasks:
    - name: Template named.conf
      ansible.builtin.template:
        src: "{{ named_conf_template }}"
        dest: "{{ named_conf_dest }}"
        owner: root
        group: named
        mode: '0644'
      notify: reload named
    - name: Generate zone file
      ansible.builtin.template:
        src: roles/bind9/templates/{{ dns_zone_template }}
        dest: "{{ dns_zone_config_dest }}"
      notify: reload named

    - name: Create reverse zone files
      ansible.builtin.template:
        src: roles/bind9/templates/{{ reverse_zone_template }}
        dest: "/var/named/{{ item.file }}"
        owner: named
        group: named
        mode: '0640'
      loop: "{{ dns_reverse_zones }}"
      vars:
        ptr_records: "{{ item.ptr_records }}"
      notify: reload named

  handlers:
    - name: reload named
      ansible.builtin.systemd:
        name: named
        state: reloaded
