apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mumble-data
  namespace: mumble
spec:
  storageClassName: nfs-csi
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
