---
- name: Install kernel-modules-extra
  ansible.builtin.dnf:
    name: kernel-modules-extra
    state: present
  become: true

- name: Download k3s install script
  ansible.builtin.get_url:
    url: https://get.k3s.io
    dest: /tmp/k3s_install.sh
    mode: '0755'
    force: yes
  become: true

- name: Install required iptables packages
  ansible.builtin.dnf:
    name:
      - iptables-nft
      - iptables-services
    state: present

- name: Load br_netfilter kernel module
  community.general.modprobe:
    name: br_netfilter
    state: present

- name: Load overlay kernel module
  community.general.modprobe:
    name: overlay
    state: present

- name: Set bridge-nf-call-iptables sysctl parameter
  ansible.posix.sysctl:
    name: net.bridge.bridge-nf-call-iptables
    value: '1'
    state: present
    sysctl_set: true
    reload: false

- name: Set bridge-nf-call-ip6tables sysctl parameter
  ansible.posix.sysctl:
    name: net.bridge.bridge-nf-call-ip6tables
    value: '1'
    state: present
    sysctl_set: true
    reload: false

- name: Create k8s sysctl configuration file
  ansible.builtin.copy:
    dest: /etc/sysctl.d/k8s.conf
    content: |
      net.bridge.bridge-nf-call-iptables=1
      net.bridge.bridge-nf-call-ip6tables=1
      net.ipv4.ip_forward=1
    mode: '0644'
  notify: Reload sysctl

- name: Create k3s modules-load configuration file
  ansible.builtin.copy:
    dest: /etc/modules-load.d/k3s.conf
    content: |
      br_netfilter
      overlay
    mode: '0644'

- name: Reload sysctl to apply all settings
  ansible.builtin.command:
    cmd: sysctl --system
  changed_when: true

