all:
  children:
    dns_servers:
      hosts:
        hlct-ns1:
          ansible_host: 192.168.1.10
          proxmox_vmid: 601
          ansible_connection: community.proxmox.proxmox_pct_remote
          ansible_user: root
          dns_role: ns1
        hlct-ns2:
          ansible_host: 192.168.1.11
          proxmox_vmid: 602
          ansible_connection: community.proxmox.proxmox_pct_remote
          ansible_user: root
          dns_role: ns2
    k3s_control_plane:
      hosts: {}
    k3s_workers:
      hosts: {}
    k3s_cluster:
      children:
        k3s_control_plane: {}
        k3s_workers: {}
