[Unit]
Description=Glance Service
After=network.target

[Service]
Type=simple
ExecStart={{ glance_target_dir }}/glance --config {{ glance_config_dest }}
Restart=on-failure
User=glance
Group=glance

[Install]
WantedBy=multi-user.target
