$TTL 1h
@   IN  SOA {{ inventory_hostname }}.milliways.fi. admin.milliways.fi. (
        {{ dns_serial_date | default(ansible_facts.date_time.date | regex_replace('-', '')) }}01 ; Serial
        1h         ; Refresh
        15m        ; Retry
        1w         ; Expire
        1h )       ; Negative Cache TTL

    IN  NS  ns1.milliways.fi.
    IN  NS  ns2.milliways.fi.

{% for host, ip in dns_records.items() %}
{{ host }}   IN  A   {{ ip }}
{% endfor %}
