---
- name: Run k3s install script
  ansible.builtin.command:
    argv:
      - /bin/sh
      - /tmp/k3s_install.sh
  args:
    creates: /usr/local/bin/k3s
  environment:
    K3S_TOKEN: "TOSI-HIENO-TOKEN"
    INSTALL_K3S_EXEC: >-
      --cluster-init
      --write-kubeconfig-mode=644
      --node-taint=node-role.kubernetes.io/master:NoSchedule
  become: true

- name: Restart k3s service
  ansible.builtin.systemd_service:
    name: k3s
    state: restarted

- name: Wait for k3s to be ready
  ansible.builtin.wait_for:
    port: 6443
    host:  localhost
    delay: 5
    timeout: 60

