# Ignore terraform variable files with secrets
*.tfvars
*.tfvars.*
*.auto.tfvars
# keep examples
!*.tfvars.example
# terraform local state
*.tfstate
*.tfstate.*
.terraform/
infrastructure/bind9/terraform/terraform.tfstate
infrastructure/bind9/terraform/terraform.tfstate.backup
