$TTL 1h
@   IN  SOA {{ dns_hostname }}. admin.milliways.fi. (
        {{ ansible_date_time.date | regex_replace('-', '') }}01 ; Serial
        1h         ; Refresh
        15m        ; Retry
        1w         ; Expire
        1h )       ; Negative Cache TTL

    IN  NS  ns1.milliways.fi.
    IN  NS  ns2.milliways.fi.

{% for host, ip in dns_records.items() %}
{{ host }}   IN  A   {{ ip }}
{% endfor %}
