apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-portainer
  namespace: default
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: nfs-csi
  resources:
    requests:
      storage: 20Gi
